.section {
    padding-top: 70px;
    padding-bottom: 70px;
}

.section h2.section-head {
    color: #000;
    text-align: center;
    margin-bottom: 40px;
}

.section h2.section-head::after {}

#header {
    color: #fff;
    background: #e74c3c;
}

#logo {
    font-size: 2rem;
    margin-top: 5px;
}

#menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

#menu li {
    display: inline-block;
}

#menu li a {
    color: #fff;
    padding: 15px 10px;
    display: block;
    text-decoration: none;
}

#menu li a:hover {
    background: #c0392b;
}

#banner {
    background: url('banner.jpg') no-repeat 0 0;
    background-size: cover;
}

.banner-title {
    padding-top: 5rem;
}

.banner-title h1 {
    background: rgba(255, 255, 255, 0.8);
    display: inline-block;
    padding: 10px;
    margin: 0;
}

.banner-title p.lead {
    color: #fff;
    background: rgba(231, 76, 60, 0.7);
    padding: 10px;
}

.service-box {
    text-align: center;
}

.service-box i {
    font-size: 70px;
    color: #e74c3c;
    margin-bottom: 15px;
}

#testimonials {
    color: #fff;
    background: url('testimonials.jpg') no-repeat 0 0;
    background-size: cover;
    padding: 50px 0;
    position: relative;
}

#testimonials:before {
    background: rgba(114, 127, 139, 0.1);
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

/* Testimonials image */
.testimonial img {
    width: 60px;
    /* small size */
    height: 60px;
    border-radius: 50%;
    /* circle image */
    object-fit: cover;
    /* image stretch nahi hogi */
    display: block;
    margin: 10px 0;
}

/* News section */
.news-post {
    text-align: center;
}

.news-post img {
    width: 250px;
    /* small width */
    height: 100px;
    /* small height */
    object-fit: contain;
    /* image cut nahi hogi */
    display: block;
    margin: 0 auto 10px;
}

.news-post h3 {
    font-size: 1.35rem;
}

.news-post h3 a {
    color: #e74c3c;
}

.post-date {
    font-size: 13px;
    margin-bottom: 2px;
}

.post-date:before {
    content: "\f073";
    font-family: FontAwesome;
    padding-right: 5px;
}

a.readmore {
    font-size: 14px;
    color: #e74c3c;
}

a.readmore:after {
    content: "\f101";
    font-family: FontAwesome;
    padding-left: 5px;
}

#footer-sidebar {
    color: #fff;
    background: #34495e;
    padding: 20px 0;
}

#footer-widget h4:after {
    content: "";
    background: #fff;
    display: block;
    width: 50px;
    height: 2px;
    margin: 5px 0;
}

#footer-widget a {
    color: #fff;
}

.latest-news {
    list-style: none;
    padding: 0;
    margin: 0;
}

.latest-news li {
    margin-bottom: 3px;
}

.latest-news li a {
    text-decoration: none;
    color: #fff;
}

.latest-news li:before {
    content: "\f101";
    font-family: "FontAwesome";
    padding-right: 5px;
}

#footer {
    color: #fff;
    background: #2c3e50;
    padding: 10px 0;
}

#social-icons {
    list-style: none;
    color: #fff;
    margin: 0;
    padding: 0;
}

#social-icons li {
    display: inline-block;
    padding-left: 5px;
}

#social-icons li a {
    color: #fff;
    font-size: 23px;
    text-decoration: none;
}

@media (max-width: 768px) {
    #logo {
        text-align: center;
        margin: 10px 0;
    }

    #menu {
        text-align: center;
    }

    .banner-title {
        padding-top: 0;
    }

    .section {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .testimonial {
        text-align: center;
        margin-bottom: 30px;
    }

    .service-box {
        margin-bottom: 30px;
    }

    .news-post {
        margin-bottom: 30px;
    }

    #footer-widget {
        margin-bottom: 20px;
    }

    #footer {
        text-align: center;
    }

    #social-icons {
        margin-top: 10px;
    }

    .testimonial img {
        text-align: center;
        margin: 10px auto;
    }

}

